        html {
            background-color: aliceblue;
            font-size: medium;
        }
        
        #title {
            color: brown;
            font-size: medium;
            font-weight: 600;
            font-style: italic
        }
        
        h1 {
            color: black;
            font-size: larger;
            font-style: italic;
            font-weight: 500;
            text-align: center;
            text-transform: uppercase;
        }
        
        h2 {
            color: cadetblue;
            font-size: medium;
            font-style: unset;
            font-weight: 900;
            text-align: right;
        }
        
        #p1 {
            color: chocolate;
            font-size: small;
            font-weight: 800;
            font-style: initial;
        }
        
        #p2 {
            color: coral;
            font-size: large;
            font-weight: 900;
            font-style: initial;
        }
        
        #p3 {
            color: blue;
            font-size: x-large;
            font-weight: bolder;
            font-style: normal;
            text-align-last: center;
        }
        
        .forest {
            border: 5px solid orange;
            width: auto;
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 70%;
        }
        
        .prince {
            border: 5px solid red;
            width: 100;
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 70%;
        }
        
        .a1 {
            color: orange;
            font-size: larger;
            text-transform: uppercase;
            text-align-last: center;
        }
        
        .a2 {
            color: red;
            font-size: larger;
            text-transform: uppercase;
            text-align-last: center;
        }
        
        .foot {
            color: brown;
            font-size: medium;
            font-weight: 900;
        }
        
        @media (min-width:100px) and (max-width:300px) {
            body {
                background-color: bisque;
            }
        }
        
        @media (min-width:301px) and (max-width:600px) {
            body {
                background-color: aqua;
            }
        }
        
        @media (min-width:601px) and (max-width:1200px) {
            body {
                background-color: darkgreen;
            }
        }
        
        @media (min-width:1200px) and (max-width:1600px) {
            body {
                background-color: darkcyan;
            }
        }